/* Write your desired css here */
#location-form{
        width: 50%;
        height: 30%;
        border: 2px solid rgb(126, 176, 174);
        padding: 20px;
        margin: 20px;
        position: absolute;
        left:25%;
        text-align: center;
        border-radius: 10px;
        box-shadow: 4px 2px 0px 0px rgb(171, 188, 194);
}
#location-input{
    width: 60%;
}
.header{
    text-align: center;
    color: #ffffff;
}